Custom Input Workflow.json
{
  "name": "Custom Input Workflow.",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1056,
        48
      ],
      "id": "967c2ee2-3248-43ba-baa2-030a7b9f983f",
      "name": "When chat message received",
      "webhookId": "85ae26ba-be54-44d3-a835-eee4b5831cfc"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -896,
        208
      ],
      "id": "0a576fa5-a0d3-4de2-a7b8-c6b66a9e8ac4",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "WbZrR0OoBaIgUGJG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Analytics Engineer. \n\nTask: Convert the user's question into a valid SQLite query.\n\nSchema: Table 'transactions' \n\nData Dictionary:\n- InvoiceNo: Unique transaction ID.\n- StockCode: Product code (For internal use only).\n- Description: PRODUCT NAME (Use this when the user asks for \"products\" or \"items\").\n- Quantity: Number of units sold (Positive for sales, negative for returns).\n- InvoiceDate: Date/Time of purchase.\n- UnitPrice: Price per unit in GBP.\n- CustomerID: Identifies the shopper.\n- Country: Customer's region.\n\nCRITICAL: When asked for \"products,\" always include the 'Description' column, not just 'StockCode'.\nRule: return ONLY the raw SQL code. No markdown. No explanations.\n\nUser Question: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -864,
        32
      ],
      "id": "5e9a72dd-4670-41c9-bc46-4bac7dfbfb0e",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7ae3838-f699-49c2-88a3-483228845c4c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        32
      ],
      "id": "a37a2c3f-a65c-4e3c-a4f5-ad3340e86674",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        32
      ],
      "id": "f8c82d4f-fa54-4b96-a7dc-f741fb764f6f",
      "name": "Input to SQL"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Executive Intelligence Assistant. \nYou have been given the Question and raw data from the database. \n\n    Question: {{ $('When chat message received').item.json.chatInput }}  \n    Data: {{ JSON.stringify($('Aggregate2').item.json.data) }}\n\n\nGoal: Respond DYNAMICALLY based on what was asked.\n\nTask: \n    1. DIRECT ANSWER (Highest Priority):\n   - If the user asked for a list (e.g., \"Top 3...\"), provide a numbered list.\n   - If the user asked for a metric (e.g., \"Total...\"), provide it prominently at the top.\n   - If the user asked for a comparison, show the delta/difference.\n\n2. STRATEGIC CONTEXT (Brief):\n   - 1-2 sentences explaining \"Why this number/list matters\" for the business.\n\n3. RECOMMENDATION:\n   - Provide 1 clear action for the executive.\nDo NOT write walls of text. If you can answer in 5 words, do it. Use bullet points.\n\n4.Tone: High-stakes, relationship-focused, and narrative. No technical jargon like \"RFM\" or \"Julianday.\"\n\n5. CRITICAL: Output ONLY the raw text for the story as valid HTML and in ENGLISH only. Use <h3> for titles and <p> for descriptions. DO NOT use markdown (no # or **) or ```html or ```.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        16
      ],
      "id": "7538f8d4-2ca7-4194-834e-9e38cf6944ec",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-mini:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -64,
        224
      ],
      "id": "4a35fd57-fdd2-4edd-81b9-eb4d8dd9bf9c",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "WbZrR0OoBaIgUGJG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -416,
        32
      ],
      "id": "87eb16d5-16b4-49ff-a572-48e364e325b8",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "html": "<div style=\"font-family: 'Inter', sans-serif; background: linear-gradient(135deg, #1a1a1a 0%, #333333 100%); color: #e5e7eb; padding: 40px; border-radius: 12px; border: 2px solid #fbbf24; max-width: 600px; box-shadow: 0 10px 25px rgba(0,0,0,0.5);\">\n    <div style=\"color: #fbbf24; font-size: 14px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px;\">The Executive Oracle</div>\n    <h1 style=\"color: #ffffff; font-size: 28px; margin: 10px 0;\">⚡ Insight Briefing</h1>\n    <hr style=\"border: 0; border-top: 1px solid rgba(251, 191, 36, 0.3); margin: 20px 0;\">\n    <div style=\"font-size: 18px; line-height: 1.6; color: #d1d5db;\">\n      {{ $json.output }}\n    </div>\n    <div style=\"margin-top: 30px; font-size: 12px; color: #9ca3af;\">Generated Autonomously by Sentinel Alpha</div>\n</div>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        256,
        16
      ],
      "id": "c4092bea-963d-4d05-a279-fd7dacc6cc78",
      "name": "HTML2"
    },
    {
      "parameters": {
        "sendTo": "tentakeaways2023@gmail.com",
        "subject": "={{ $('When chat message received').item.json.chatInput }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Autonomous Sentinel (AI Audit)"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        16
      ],
      "id": "7ce8d444-cb65-4985-a61e-290e1761bf08",
      "name": "Send a message2",
      "webhookId": "59b629fd-18fa-4d8d-8064-79ec3b2352ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "nafhRCHWm1zhFPYA",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Input to SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input to SQL": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a9416ea-21df-4baa-bb5f-8d92dcce73b8",
  "meta": {
    "instanceId": "45a49255a3916353fcce0cbc38e33bc08b2c1bcd82a3a509ec3c8588ead0c025"
  },
  "id": "HfctzxDUctVsnhkc",
  "tags": []
}